.form_container {
  width: 100vw;
  height: calc(100vh);
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  * {
    z-index: 100;
  }
  .form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    > * {
      transition: 0.3s;
      margin-bottom: 5px;
    }
  }
}
@media (max-width: 1000px) {
  .form_container {
    .form {
      width: 75% !important;
    }
  }
}
@media (max-width: 599px) {
  .form_container {
    .form {
      width: 100% !important;
      > * {
        width: 75% !important;
      }
    }
  }
}
